@model PostViewModel
@{
    ViewData["Title"] = "FullPost";
}



<h1>FullPost</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/@Model.ImageURL" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
    </div>
    @foreach (var item in Model.Comments)
    {
        <p id="descriptionp @item.Id" onclick="editComment(@item.Id)" style="visibility:visible" class="card-text">@item.UserFullName - @item.Description</p>
        @if (User.Identity.Name == item.UserName)
        {

            <a id="editDom" onclick="editComment(@item.Id)" class="btn btn-warning">Edit</a>
            <form asp-action="EditComment" asp-controller="Management" method="post">
                <input id="descriptioninput @item.Id" type="text" asp-for="@item.Description" name="description" value="@item.Description" style="visibility:hidden" />
                <input type="hidden" name="commentId" value="@item.Id"/>

                <button id="SaveBtn @item.Id" type="submit" class="btn btn-primary" style="visibility:hidden" onclick="saveComment(@item.Id)">Save</button>
            </form>
            <a id="DeleteBtn @item.Id" asp-route-commentId="@item.Id" asp-action="DeleteComment" asp-controller="Management" class="btn btn-danger" style="visibility:visible">Delete</a>

        }
    }


</div>
<form asp-action="AddComment" asp-controller="Management" method="post">

    <input name="description" type="text" value="@Model.Comment.Description">

    <button type="submit" class="btn btn-primary">Add Comment</button>
</form>

<script>
function editComment(id) {


        document.getElementById("descriptioninput "+id).style.visibility='visible';
        document.getElementById("editDom").style.visibility='collapse';
        document.getElementById("SaveBtn "+id).style.visibility='visible';
        document.getElementById("DeleteBtn "+id).style.visibility='collapse';

}

    function saveComment(id) {


        document.getElementById("descriptioninput "+id).style.visibility='collapse';
        document.getElementById("editDom").style.visibility='visible';
        document.getElementById("SaveBtn "+id).style.visibility='collapse';
        document.getElementById("DeleteBtn "+id).style.visibility='visible';

}
</script>