@model SendMessageViewModel
@{
    ViewData["Title"] = "SendMessage";
    Layout = null;
}



@*<h1>SendMessage</h1>
    @if (!Model.Messages.Any())
    {
        <p>start to chating</p>
    }
    @foreach (var item in Model.Messages)
    {
        <p id="rrr">@item.RecieverId -@item.MessageText</p>
    }
    <p id="rrr"></p>
    <form asp-action="Send" asp-controller="Message" method="post">
            <input type="hidden" name="recieverId" value="@ViewBag.UserId" />
            <textarea id="txtText" asp-for="Message.MessageText"></textarea>
            <input id="sendButton" type="submit" value="send" />
        </form>
    @{
        string userName = ViewBag.Id;
    }
    <input type="hidden" id="connectionId" value="@ViewBag.Id" />
    <input type="hidden" id="recieverId" value="@ViewBag.UserId" />
    <input type="text" id="txtText" value="" />
    <input type="submit" id="send" i value="Send" />*@

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <style>
        .container {
            max-width: 1170px;
            margin: auto;
        }
        img {
            max-width: 100%;
        }
        .inbox_people {
            background: #f8f8f8 none repeat scroll 0 0;
            float: left;
            overflow: hidden;
            width: 40%;
            border-right: 1px solid #c4c4c4;
        }
        .inbox_msg {
            border: 1px solid #c4c4c4;
            clear: both;
            overflow: hidden;
        }
        .top_spac {
            margin: 20px 0 0;
        }
        .recent_heading {
            float: left;
            width: 40%;
        }
        .srch_bar {
            display: inline-block;
            text-align: right;
            width: 60%;
            padding:
        }
        .headind_srch {
            padding: 10px 29px 10px 20px;
            overflow: hidden;
            border-bottom: 1px solid #c4c4c4;
        }
        .recent_heading h4 {
            color: #05728f;
            font-size: 21px;
            margin: auto;
        }
        .srch_bar input {
            border: 1px solid #cdcdcd;
            border-width: 0 0 1px 0;
            width: 80%;
            padding: 2px 0 4px 6px;
            background: none;
        }
        .srch_bar .input-group-addon button {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            padding: 0;
            color: #707070;
            font-size: 18px;
        }
        .srch_bar .input-group-addon {
            margin: 0 0 0 -27px;
        }
        .chat_ib h5 {
            font-size: 15px;
            color: #464646;
            margin: 0 0 8px 0;
        }
            .chat_ib h5 span {
                font-size: 13px;
                float: right;
            }
        .chat_ib p {
            font-size: 14px;
            color: #989898;
            margin: auto
        }
        .chat_img {
            float: left;
            width: 11%;
        }
        .chat_ib {
            float: left;
            padding: 0 0 0 15px;
            width: 88%;
        }
        .chat_people {
            overflow: hidden;
            clear: both;
        }
        .chat_list {
            border-bottom: 1px solid #c4c4c4;
            margin: 0;
            padding: 18px 16px 10px;
        }
        .inbox_chat {
            height: 550px;
            overflow-y: scroll;
        }
        .active_chat {
            background: #ebebeb;
        }
        .incoming_msg_img {
            display: inline-block;
            width: 6%;
        }
        .received_msg {
            display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: top;
            width: 92%;
        }
        .received_withd_msg p {
            background: #ebebeb none repeat scroll 0 0;
            border-radius: 3px;
            color: #646464;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px 5px 12px;
            width: 100%;
        }
        .time_date {
            color: #747474;
            display: block;
            font-size: 12px;
            margin: 8px 0 0;
        }
        .received_withd_msg {
            width: 57%;
        }
        .mesgs {
            float: left;
            padding: 30px 15px 0 25px;
            width: 60%;
        }
        .sent_msg p {
            background: #05728f none repeat scroll 0 0;
            border-radius: 3px;
            font-size: 14px;
            margin: 0;
            color: #fff;
            padding: 5px 10px 5px 12px;
            width: 100%;
        }
        .outgoing_msg {
            overflow: hidden;
            margin: 26px 0 26px;
        }
        .sent_msg {
            float: right;
            width: 46%;
        }
        .input_msg_write input {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #4c4c4c;
            font-size: 15px;
            min-height: 48px;
            width: 100%;
        }
        .type_msg {
            border-top: 1px solid #c4c4c4;
            position: relative;
        }
        .msg_send_btn {
            background: #05728f none repeat scroll 0 0;
            border: medium none;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            height: 33px;
            position: absolute;
            right: 0;
            top: 11px;
            width: 33px;
        }
        .messaging {
            padding: 0 0 50px 0;
        }
        .msg_history {
            height: 516px;
            overflow-y: auto;
        }
    </style>

</head>
<body>
    <div class="container">
        <h3 class=" text-center">Messaging</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar" placeholder="Search">
                                <span class="input-group-addon">
                                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    @await Component.InvokeAsync("MessageInbox")


                </div>
                <div class="mesgs">
                    <div class="msg_history" id="body">


                       

                        @foreach (var item in Model.Messages.OrderBy(i => i.MessageDate))
                        {
                            string out_going, sent_msg,  received_withd_msg, show;


                            if (item.SenderUser.UserName == User.Identity.Name)
                            {
                                out_going = "outgoing_msg";
                                sent_msg = "sent_msg";
                                received_withd_msg = "";
                                show = "hidden";
                            }
                            else
                            {
                                out_going = "incoming_msg";
                                sent_msg = "recieved_msg";
                                received_withd_msg = "received_withd_msg";
                                show = "";
                            }
                            <div class="@out_going">
                                    
                                <div class="@sent_msg">
                                    <div class="@received_withd_msg">

                                        <p id="messageContext">
                                            @item.MessageText
                                        </p>
                                        <span class="time_date"> @item.MessageDate.ToString("MMMM dd hh:mm")</span>
                                    </div>
                                </div>
                            </div>

                        }

                      

                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <form asp-action="Send" asp-controller="Message" method="post">
                                <input type="hidden" name="recieverId" id="recieverId" value="@ViewBag.UserId" />
                                <input type="text" asp-for="Message.MessageText" class="write_msg" placeholder="Type a message" />
                                <button class="msg_send_btn" id="send" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/js/signalr.min.js"></script>
    <script>
    var connection = null;
    connection = new signalR
        .HubConnectionBuilder()
        .withUrl("/not")
        .build();
    connection.start();
    connection.on("RecieveMessage", function (message) {
        console.log(message);
        var ms = message;
        var m = document.getElementById("messageContext");
        $('messageContext').append(`<span id="add_here">${message}</span>`);
    });
        window.onload=function () {
     var objDiv = document.getElementById("body");
     objDiv.scrollTop = objDiv.scrollHeight;
}
    </script>
</body>
</html>